node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.astro
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# User files
CLAUDE.md
examples/
/boundaries/

.claude
.venv
